<?xml version="1.0"?>
<config>
    <modules>
        <Kirchbergerknorr_CommentCart>
            <version>0.1.0</version>
        </Kirchbergerknorr_CommentCart>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <customer_order_comment>
                    <to_order>*</to_order>
                </customer_order_comment>
            </sales_convert_quote>
        </fieldsets>
        <blocks>
            <kirchbergerknorr_commentcart>
                <class>Kirchbergerknorr_CommentCart_Block</class>
            </kirchbergerknorr_commentcart>
        </blocks>
        <helpers>
            <kirchbergerknorr_commentcart>
                <class>Kirchbergerknorr_CommentCart_Helper</class>
            </kirchbergerknorr_commentcart>
        </helpers>
        <resources>
            <kirchbergerknorr_commentcart_setup>
                <setup>
                    <module>Kirchbergerknorr_CommentCart</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </kirchbergerknorr_commentcart_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <kirchbergerknorr_commentcart>
                        <type>singleton</type>
                        <class>Kirchbergerknorr_CommentCart_Model_Observer</class>
                        <method>saveComment</method>
                    </kirchbergerknorr_commentcart>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <kirchbergerknorr_commentcart>
                    <files>
                        <default>Kirchbergerknorr_Commentcart.csv</default>
                    </files>
                </kirchbergerknorr_commentcart>
            </modules>
        </translate>
        <routers>
            <kirchbergerknorr_commentcart>
                <use>standard</use>
                <args>
                    <module>Kirchbergerknorr_CommentCart</module>
                    <frontName>commentcart</frontName>
                </args>
            </kirchbergerknorr_commentcart>
        </routers>
        <layout>
            <updates>
                <kirchbergerknorr_commentcart>
                    <file>commentcart.xml</file>
                </kirchbergerknorr_commentcart>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <kirchbergerknorr_commentcart>
                    <files>
                        <default>Kirchbergerknorr_Commentcart.csv</default>
                    </files>
                </kirchbergerknorr_commentcart>
            </modules>
        </translate>
    </adminhtml>
</config>